h1 {
	font-size: $xx-large;
}

h2 {
	font-size: $xxx-large;
	font-family: $old-standard;
}

h3 {
	font-size: $x-large;
}

h4 {
	font-size: $large;
}


p {
	font-size: $medium;
	color:$granite-gray;
	font-family: $raleway;
}

